/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; 
@import "~@angular/material/prebuilt-themes/purple-green.css"; */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; 

html, body { height: 100%; width: 100vw; overflow-x: hidden}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #3aafa9;
}

@media(max-width:575px) {
    .mat-button {
        font-size: 0.9em !important;
    }

    .example-card {
        width: 70vw !important;
    }

    .image{
        height: 40vw !important;
        width: 44vw !important;
    }

    .mat-card {
        height: 47vh !important;
        width: 52vw !important;
        margin-bottom: 15vh !important;
    }

    .myForm {
        width: 41vw !important;
    }

    .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
        margin: 4px 8px !important;
    }


    .mat-form-field-wrapper {
        padding-bottom: 0.5em !important;
    }

    .mat-menu-item {
        font-size: 0.9em !important;
    }

    .mat-form-field.field {
        padding-left: 10vh !important;
    }

    .mat-toolbar{
        background-color: #3aafa9;
        height: 10vh !important;
        display: flex;
        text-align: right;
    }
    
    .mat-toolbar-row{
        height: 10vh !important;
    }
    
    .logo{
        height: 10vh !important;
        margin-right: auto;    
    }
    
    .logoImg{
        height: 10vh !important;
    }
}

@media(max-width:450px) {
        .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
            font-size: 0.4em !important;
            position: relative;
            border: none;
            text-align: center;
            line-height: 36px;
            min-width: 25px !important;
            overflow: -webkit-paged-x;
        }
}
    

